[Unit]
Description=Debian archive exporter

[Service]
ExecStart=/usr/bin/python3 -m debarchive_exporter --mirrorname {{ archvsync_mirrorname }} /srv/mirrors debian debian-security
Environment=PYTHONPATH=/usr/local/src/debarchive-exporter/src
DynamicUser=true
User=debian-archive-exporter
CapabilityBoundingSet=
PrivateDevices=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
