logging {
  level = "warn"
}

prometheus.exporter.unix "default" {
  include_exporter_metrics = true
}

discovery.relabel "default" {
  targets = array.concat(
    prometheus.exporter.unix.default.targets,
    [
      {
        job         = "alloy",
        __address__ = "alloy.internal:12345",
      },
{% if 'management_monitir' in group_names or 'mirror_backend' in group_names %}
      {
        job         = "caddy",
        __address__ = "localhost:9113",
      },
{% endif %}
{% if 'mirror_sync' in group_names or 'mirror_backend' in group_names %}
      {
        job         = "debarchive",
        __address__ = "localhost:9896",
      },
{% endif %}
    ],
  )

  rule {
    action       = "replace"
    target_label = "instance"
    replacement  = "{{ inventory_hostname.split('.')[0] + '.' + inventory_domain }}"
  }
}

prometheus.scrape "default" {
  targets = discovery.relabel.default.output

  forward_to = [
    prometheus.remote_write.default.receiver,
  ]
}

prometheus.remote_write "default" {
  endpoint {
    url = "http://management-monitor.{{ inventory_domain }}:9009/api/v1/push"
  }

  external_labels = {
{% if 'mirror_sync' in group_names or 'mirror_backend' in group_names %}
    type        = "mirror",
{% endif %}
{% if 'mirror_backend' in group_names %}
    type_mirror = "backend",
{% elif 'mirror_sync' in group_names %}
    type_mirror = "sync",
{% endif %}
  }
}

loki.source.journal "default" {
  format_as_json = true

  labels = {
    instance = "{{ inventory_hostname.split('.')[0] + '.' + inventory_domain }}",
  }

  forward_to = [
    loki.write.default.receiver,
  ]
}

loki.write "default" {
  endpoint {
    url = "http://management-monitor.{{ inventory_domain }}:9008/loki/api/v1/push"
  }
}
