# {{ ansible_managed }}
{% for host, key in authorized_keys|default({})|dictsort %}
# Host {{ host }}
command="ftpsync -T 'ssh ({{ host }})'",restrict {{ key }}
{% endfor %}
{% for host in authorized_keys_hosts|default([])|sort %}
# Host {{ host }}
command="ftpsync -T 'ssh ({{ host }})'",restrict {{ hostvars[host].ssh_push_key }}
{% endfor %}
