{
	acme_ca {{ acme_ca }}
	servers {
		metrics
	}
}

:9113 {
	metrics /metrics
}

https://{{ external_fqdn }} {
	tls {
		issuer acme {
			disable_http_challenge
		}
	}

	reverse_proxy http://localhost:3000
}
