{
	servers {
		metrics
	}
}

:9113 {
	metrics /metrics
}

:80 {
	header X-Backend "{{ inventory_hostname }}"

	reverse_proxy /health {
		to localhost:9896
	}
}

:8080 {
	root /srv/mirrors

	header X-Backend "{{ inventory_hostname }}/backend"
	header Cache-Control "public,max-age=300"

	file_server {
		browse
	}
}
